<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="personal/order/etao.js"></script>
	<script type="text/javascript" src="personal/order/cart.js"></script>
	<link href="personal/order/cart.css" media="screen" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript">
    	function confirmation() {
    		var confirm = "";
    		$("#cartTable").find("tr:gt(0)").each(function(){
    			var check = $(this).find(":checkbox")[0].checked;
    			if (check === true) {
//     				confirm += ";" + $(this).children("td:eq(0)").text();//orderId
//     				confirm += "," + $(this).children("td:eq(1)").text();//orderDetailId
    				confirm += ";" + this.id;
    			}
    		});
    		if (confirm == "") {
    			return;
    		}
    		$("#btn_pay").attr("disabled","disabled");
    		$.ajax({
				 type: "post",
				 url: "personal/returnGoods",
				 data: "confirm=" + decodeURIComponent(confirm.substr(1),true),
				 success: function (data) {
					 if (data.rspCode === "0000") {
						 alert("退货成功");
						 //刷新到订单列表界面
						 $("#main").load("personal/orderSingleQuery?orderId="+$("#orderId").text());
						 $("#btn_pay").removeAttr("disabled");
						 return;
					 }
					 alert(data.rspMsg);
					 $("#btn_pay").removeAttr("disabled");
				 },
				 error: function () {
				 	alert("服务器异常");
				 	$("#btn_pay").removeAttr("disabled");
				 },
				 complete: function () {
				 
				 }
			});
    	}
    	
    	function pay() {
    		$("#btn_pay").attr("disabled","disabled");
    		var orderId = $("#orderId").text();
    		$("#main").load("personal/orderPayPage/"+orderId);
    	}
    </script>
</head>
<body>
  <div class="container">
	<div class="cart-wrap" style="float:right;">
		<table id="cartTable" class="cart table table-condensed">
			<thead>
				<tr>
					<th class="text-center" style="display: none;">orderId</th>
					<th class="text-center" style="display: none;">orderDetailId</th>
					<th class="t-goods"><label>产品名称</label></th>
					<th>卖家</th>
					<th class="t-selling-price text-center"><label>销售单价</label></th>
					<th class="t-qty text-center"><label>采购数量</label></th>
					<th class="t-subtotal text-center"><label>金额小计</label></th>
					<th class="t-subtotal text-center"><label>状态</label></th>
					<th class="t-action"><label>操作</label></th>
				</tr>
			</thead>
			<tbody>
				<tr th:id="${good.id}" th:each="good : ${goods}">
					<td th:text="${good.orderId}" style="display: none;"></td>
					<td th:text="${good.orderDetailNo}" style="display: none;"></td>
					<td class="goods">
						<label>
							<input type="checkbox" class="check-one check" th:text="${good.productName}" th:disabled="${good.orderStatus!=1}" th:checked="${order.orderStatus!=1}"/>
						</label>
					</td>
					<td th:text="${good.merchantName}"></td>
					<td class="selling-price number small-bold-red text-right"
								style="padding-top: 1.1rem;" th:attrappend="data-bind=${good.productPriceFormat}"></td>
					<td>
						<div class="input-group input-group-sm">
								<input type="text" class="number form-control input-sm" th:attrappend="value=${good.productNum}" disabled="disabled"/>
						</div>
					</td>
					<td class="subtotal number small-bold-red text-right" style="padding-top: 1.1rem;"></td>
					<td th:text="${good.orderStatusDesc}" class="t-subtotal text-center"></td>
<!-- 					<td class="action" style="padding-top: 1.1rem;"><span class="delete btn btn-xs btn-warning">退货</span></td> -->
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<div class="cart-summary">
<!-- 					0待付款,1成功 -->
					<div style="margin-left: 2rem;" class="pull-right" th:if="${order.orderStatus==1}">
						<a href="javascript:void(0);" onclick="confirmation()"
							id="btn_settlement" type="button" class="btn btn-primary" disabled>退货</a>
					</div>
					<div style="margin-left: 2rem;" class="pull-right"  th:if="${order.orderStatus==0}">
						<a href="javascript:void(0);" onclick="pay()"
							id="btn_pay" type="button" class="btn btn-primary">付款</a>
					</div>
					<div style="display: none" id="orderId" th:text="${order.id}"></div>
					<div style="margin-left: 1rem; margin-top: 0.4rem;" class="pull-right total">
						<label>金额合计:<span id="priceTotal" class="price-total large-bold-red">0.00</span></label>
					</div>
					<div style="margin-top: 4px;" class="pull-right">
						<label>
							<span id="itemCount" class="large-bold-red" style="margin: 0 4px;"></span>种产品型号，共计
							<span id="qtyCount" class="large-bold-red" style="margin: 0 4px;"></span>件
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
  </div>
    
</body>
</html>
