<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="personal/order/etao.js"></script>
	<script type="text/javascript" src="personal/order/cart.js"></script>
	<link href="personal/order/cart.css" media="screen" rel="stylesheet" type="text/css" />
	
  </head>
  <body>
  
  <div class="container">
	<form class="form-horizontal" style="padding: 5px 100px 5px;" id="form-bindCard">
		<div class="form-group" style="margin-top: 10px;">
			<fieldset class="col-sm-2 control-label">
				<legend>订单支付</legend>
			</fieldset>
		</div>
		<div class="form-group">
			  <label for="phone" class="col-sm-2 control-label">功能：*</label>
			  <div class="col-sm-2">
			  		<input type="radio" name="functionCode" id="f-balance" value="10" checked="checked">账户余额
			  </div>
			  <div class="col-sm-2">
			  		<input type="radio" name="functionCode" id="f-bankAcctCard" value="11">银行卡支付
			  </div>
			  <div class="col-sm-2">
			  		<input type="radio" name="functionCode" id="f-quickPay" value="12">快捷支付
			  </div>
			  <div class="col-sm-2">
			  		<input type="radio" name="functionCode" id="f-aggregatePay" value="13">聚合支付
			  </div>
              <div class="col-sm-2">
                  <input type="radio" name="functionCode" id="f-onekey" value="14">一键支付
              </div>
			<div class="col-sm-2" th:if="${switchSDK}">
				<input type="radio" name="functionCode" id="f-sdk" value="15">SDK - 聚合下单
			</div>
		</div>
		<div class="form-group balance switch">
			<label for="account" class="col-sm-2 control-label">余额：</label>
			<div class="col-sm-4">
				<input type="text" id="balance" name="balance" class="form-control" readonly="readonly" th:value="${balance}">
			</div>
		</div>
		<div class="form-group bankAcctCard switch" style="display: none;">
		  <label for="IdentificationCard" class="col-sm-2 control-label">银行卡号：*</label>
		  <div class="col-sm-4">
			<select class="form-control" name="bankAcctId" id="bankAcctId">
			  	<option th:value="${bindCard.memberBankAcctId}" th:text="${bindCard.bankAcctId}" th:each="bindCard : ${bindCardList}"/>
			  </select>
			</div>
		</div>
        <div class="form-group sdk switch" style="display: none;">
            <label for="sdk" class="col-sm-2 control-label">支付类型：*</label>
            <div class="col-sm-4">
                <select class="form-control" name="sdk" id="sdk">
                    <option value="ALIPAYCSB"> 支付宝 </option>
                    <option value="WECHATAPP"> 微信 </option>
                </select>
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label">主收款方：*</label>
			<div class="col-sm-4">
				<select class="form-control" name="payeeUId" id="payeeUId">
					<option th:value="${detail.subMerchantUid}" th:text="${detail.subMerchantName}" th:each="detail : ${details}"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="cart-summary col-sm-10">
				<div style="margin-left: 2rem;" class="pull-right">
					<a href="javascript:void(0);" onclick="formSubmit()"
						id="btn_settlement" type="button" class="btn btn-primary">确认支付 / 生成SDK订单</a>
				</div>
				<div style="margin-left: 1rem; margin-top: 0.4rem;" class="pull-right total">
					<label>金额合计:<span class="price-total large-bold-red" id="payAmount" th:text="${orderAmount}"></span>元</label>
				</div>
				<div style="margin-top: 4px;" class="pull-right">
					<label>订单id<span id="orderId" class="large-bold-red" style="margin: 0 4px;" th:text="${orderId}"></span>
					</label>
				</div>
			</div>
		</div>
	</form>
	<div id="qrCodeDiv" class="hidden">
		 <table class="table" style="height:300px;">  
	    	<tbody>  
	           <tr>
	           	 <td style="text-align:center;border:none;padding:0px"><img id="imgQrcode" alt="生成二维码" class="hisrc"/></td>
	           </tr>  
	    	</tbody>  
   		</table>  
	</div>
      <div id="sdkresponse" class="hidden">
          <table class="table" style="height:300px;">
              <tbody>
                  <tr>
                      <td style="text-align:center;border:none;padding:0px">
                          <textarea id="sdkres" style="height: 100px;width: 300px"></textarea>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
    <script type="text/javascript">
    
    	$(function(){
    		$("#form-bindCard").find("input[name='functionCode']").click(function(){
//     			console.log(this);
    			$(".switch").hide();
    			$("."+this.id.replace("f-","")).show();
    		});
    		
    		$("input[type='radio']").change(function(){
    			if($(this).val() == '13' && !!$("#imgQrcode").attr('src')){
    				$("#qrCodeDiv").removeClass("hidden");
    			}else{
    				$("#qrCodeDiv").addClass("hidden");
    			}
    		});
    	});
    
    	//生成二维码
    	function generateQrcode(){
	    	var req = new Object();
	    	req.orderId = $("#orderId").text();
	    	//10：消费；14：充值
	    	req.functionCode = 10;
	    	req.payeeUId = $("#payeeUId").val();
	    	var submitData=encodeURI(JSON.stringify(req),true)
	    	$.ajax({
					type: "get",
					url: "aggregate/qrcode?params="+submitData,
// 					data: JSON.stringify(data),
// 					contentType : "application/json",
					success: function (data) {
						$("#btn_settlement").attr("disabled","disabled");
						if (data.rspCode == "0000") {
					    	$("#qrCodeDiv").removeClass("hidden");
	    					$("#imgQrcode").attr('src','data:image/png;base64,'+data.imageBase64);
	    					refreshQrcodeResult(2000);
							return;
						}
					},
					error: function () {
					},
					complete: function () {
					}
				});
	    }
    	
    	//间隔n秒请求后台聚合支付结果
		function refreshQrcodeResult(timeInterval){
			var interval = setInterval(function(){
				$.ajax({
					type: "get",
					url: "personal/orderPayStatus/"+$("#orderId").text(),
// 					data: JSON.stringify(data),
// 					contentType : "application/json",
					success: function (data) {
						if (data.rspCode == "0000" && data.payStatus != "0") {
							$('#main').html("<div class=\"col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main\"><h2>订单受理成功</h2></div>");
							clearInterval(interval);
							return;
						}
					},
					error: function () {
					},
					complete: function () {
					}
				});
    		}, timeInterval);
    	}
    	
    	function formSubmit(){
    		
    		if($("input[type='radio'][value='13']").prop("checked")){
    			generateQrcode();
    			return;
    		}
    		//快捷支付页面
            if($("input[type='radio'][value='12']").prop("checked")){
                var path = "personal/quickpay/" + $("#orderId").text() + "/" + $("#payAmount").text() + "?payeeUId=" + $("#payeeUId").val();
                $('#main').load(path);
                return;
            }
            //一键支付页面
            if($("input[type='radio'][value='14']").prop("checked")){
                var path = "personal/quickpay/onekey/" + $("#orderId").text() + "/" + $("#payAmount").text() + "?payeeUId=" + $("#payeeUId").val();
                $('#main').load(path);
                return;
            }
            //生成SDK订单
            if($("input[type='radio'][value='15']").prop("checked")){
                createSDKOrder();
                return;
            }
    		var check = formCheck();
			if (check === false) {
				return false;
			}
			
			var functionCode = $("input[name='functionCode']:checked").val();
			if (functionCode == "10") {
				//提现金额小于余额
				if (Number($("input[name='balance']").val()) < Number($("#payAmount").text())) {
					alert("支付金额需大于余额")
					return false;
				}
			}
			
    		var data=$('#form-bindCard').serializeObject();
    		data.orderId = $("#orderId").text();
			var submitData=decodeURIComponent(data,true)
			$("#btn_settlement").attr("disabled","disabled");
			$.ajax({
				 type: "post",
				 url: "personal/orderPay",
				 data: JSON.stringify(data),
				 contentType : "application/json",
				 success: function (data) {
					 if (data.rspCode == "0000") {
						 $('#main').html("<div class=\"col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main\"><h2>订单处理成功</h2></div>");
						 return;
					 }
					 alert(data.rspMsg);
					 $("#btn_settlement").removeAttr("disabled");
				 },
				 error: function () {
				 	alert("error");
				 	$("#btn_settlement").removeAttr("disabled");
				 },
				 complete: function () {
				 
				 }
			});
    	}
    	function formCheck() {
			var check = false;
			if($("input[type='radio'][value='11']").prop("checked")) {
				check = notNull($("select[name='bankAcctId']").val());
				if (check === false) {
					alert("银行卡号 不能为空")
					return false;
				}
			}
			check = notNull($("#payAmount").text());
			if (check === false) {
				alert("交易金额 不能为空")
				return false;
			}
			if ($("#payAmount").text() <= 0) {
				alert("交易金额 必须大于0")
				return false;
			}
			return true;
		}
		function notNull(param) {
			if (null === param) {
				return false;
			}
			if (param.trim() === "") {
				return false;
			}
			return true;
		}
		function createSDKOrder() {
            var req = new Object();
            req.orderId = $("#orderId").text();
            //10：消费；14：充值
            req.payType = $("select[name='sdk']").val();
            req.functionCode = 10;
            req.payMode = 14;
            req.payeeUId = $("#payeeUId").val();
            var submitData=encodeURI(JSON.stringify(req),true)
            console.log('请求信息：' + submitData);
            $.ajax({
                type: "get",
                url: "aggregate/qrcode/sdk?params="+submitData,
                success: function (data) {
                    $("#btn_settlement").attr("disabled","disabled");
                    $("#sdkresponse").removeClass("hidden");
                    $("#sdkres")[0].innerHTML = data;
                    console.log('返回信息：' + data);
                },
                error: function () {
                },
                complete: function () {
                }
            });
        }
    </script>
  </body>
</html>
